.App {
  display: flex;
  height: 630px;
}

.leftContainer {
  padding-top: 15px;
  display: flex;
  background-color:lightblue;
  flex: 4;
  width: 430px;
  padding-right: 50px;
}

.chats {
  padding-left: 15px;
  background-color:rgb(215, 232, 237);
  width: 530px;
  padding-right: 10px;
}

.rightContainer {
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 10px;
  display: flex;
  background-color:lightsteelblue;
  flex: 5;
  height: 630px;
}

.contactName {
  font-size: large;
  font-weight: bolder;
  padding-left: 10px;
}

.searchBar {
  padding-left: 15px;
  padding-top: 20px;
  width: 100%;
  justify-content: center;
  padding-bottom: 10px;
  
}

.currentChat {
  padding-left: 15px;
  padding-top: 40px;
  overflow-y: scroll;
  height: 490px;
}

.messageForm {
  position: absolute;
  bottom: 0px;
}

.avatar {
  padding-left: 15px;
  }

.messageFrom{
  color: white;  
}

.messageFromText {
  background-color: darkslategrey;
  border-radius: 20px;
}

.messageTo{
  color: white;
  width: 100%;
  float: right;
}

.messageToText {
  background-color: rgb(81, 87, 87);
  border-radius: 20px;
}

img {
  border-radius: 80%;
  width: 50px 
}

input[type="search"]{
  margin: 0;
  padding: 7px 8px;
  font-size: 14px;
  border: 1px solid transparent;
  width: 90%;
  border-radius: 20px;
  height: 30px;
  /* background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center; */
}

input[type="textarea"]{
  margin: 0;
  padding: 7px 8px;
  font-size: 14px;
  border: 1px solid transparent;
  width: 580px;
  border-radius: 20px;
  height: 30px;
  align-items: flex-end;
}

input[type="submit"] {
  text-indent: -999px;
  overflow: hidden;
  width: 30px;
  padding: 0;
  margin: 0;
  border: 1px solid transparent;
  border-radius: inherit;
  background: transparent url("https://cdn-icons-png.flaticon.com/512/8256/8256572.png") no-repeat center;
  cursor: pointer;
  opacity: 0.7;
}

input[type="submit"]:hover {
  opacity: 1;
}

input[type="checkbox"]{

}